/* colors and sizing */
body,
input {
  background-color: rgb(14, 10, 25);
  color: white;
  font-family: 'Roboto';
}

button {
  background-color: rgb(71, 23, 246);
  color: white;
}

input {
  width: 100%;
  height: 2rem;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  border-bottom: 1px solid white;
}

input:focus {
  outline: 2px solid white;
}

button {
  width: 25%;
  min-height: 2.5rem;
  border: none;
  margin-bottom: auto;
}

.location {
  font-size: 3rem;
}

.temperature {
  font-size: 5rem;
}

.description,
input {
  font-size: 1.5rem;
}

label {
  font-size: 1.2rem;
}

/* flex and layout styling */
body {
  height: 100vh;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

@media only screen and (max-width: 600px) {
  .search-wrapper {
    flex-direction: column;
  }
}

.input-container {
  max-width: 70%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
