/* colors and sizing */
body,
input {
  background-color: rgb(14, 10, 25);
  color: white;
  font-family: 'Roboto';
}

button {
  background-color: rgb(71, 23, 246);
  color: white;
}

input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid white;
}

input:focus {
  outline: 2px solid white;
}

button {
  width: 25%;
  height: 2.5rem;
  border: none;
}

.location {
  font-size: 4rem;
}

.temperature {
  font-size: 3rem;
}

.description,
input {
  font-size: 1.5rem;
}

/* flex and layout styling */
.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  max-width: 70%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
